body {
	background-color: rgb(174, 176, 172);
	background: linear-gradient(90deg, rgba(133,131,166,1) 0%, rgba(247,247,247,1) 84%, rgba(255,255,255,1) 100%);
	color: black;
}

.redText {
	color: red;
}

.centeredText {
	text-align: center;
}

#contactLabel, #carSelectLabel {
	/*
		Comment
	*/
	color: orange;
}